<div class="row">
    <div class="col-7 col-md-5 col-lg-4">
        <label>File Upload</label>
        <div class="input-group" data-fileupload data-url="/Home/FileUpload" data-delete-url="/home/DeleteUploadedFile">
            <input type="file" class="form-control" />
            <span class="form-control border border-1 rounded rounded-2 d-none" data-file-name></span>
            <span class="bi bi-exclamation mt-auto mb-auto p-0 fs-4 text-danger d-none"></span>
            <span class="mt-auto mb-auto ms-2 d-none" data-progress-bar></span>
            <img class="hourglass hourglass-sm ddropdown-hourglass d-none" />
            <span class="mt-auto mb-auto ms-2 btn btn-close d-none" data-abort></span>
            <span class="btn bi bi-download fs-5 ms-1 p-0 d-none" data-download></span>
            <span class="mt-auto mb-auto ms-1 p-0 btn bi bi-trash d-none" data-delete></span>
        </div>
    </div>

    <div class="col-7 col-md-5 col-lg-4">
        <label>File Download</label>
        <div class="input-group" data-filedownload data-url="/Home/FileDownload?ProductId=77&DocumentId=1&">
            <input type="text" readonly class="form-control me-1 bg-white" value="film.avi" />
            <span class="bi bi-exclamation mt-auto mb-auto p-0 fs-4 text-danger d-none"></span>
            <span class="btn bi bi-download fs-5 mt-auto mb-auto ms-1 p-0" data-download></span>
            <span class="mt-auto mb-auto d-none" data-progress-bar></span>
            <img class="hourglass hourglass-sm d-none" />
            <span class="btn btn-close mt-auto mb-auto d-none" data-abort></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-7 col-md-5 col-lg-4">
        <table class="table">
            <thead>
                <tr>
                    <th>file name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>film.avi</td>
                    <td>
                        <div class="text-end" data-filedownload data-url="/Home/FileDownload?ProductId=77&DocumentId=1&">
                            <span class="bi bi-exclamation mt-auto mb-auto p-0 fs-4 text-danger d-none"></span>
                            <span class="btn bi bi-download fs-5 mt-auto mb-auto ms-1 p-0" data-download></span>
                            <span class="mt-auto mb-auto d-none" data-progress-bar></span>
                            <img class="hourglass hourglass-sm ddropdown-hourglass d-none" />
                            <span class="btn btn-close mt-auto mb-auto d-none" data-abort></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    new FileDownload();
    new FileUpload();
</script>